@model Library.CodeFirst.Models.Genre
<h2>Create Genre</h2>
<form method="post">
    <div class="mb-3"><label>Name</label><input class="form-control" name="Name" /></div>
    <button class="btn btn-primary" type="submit">Create</button>
</form>
